
.candyDoc__inspectorBorderColorController {
  width: 36px;
  margin: 0 2px;
  outline: none;
  border: 1px solid var(--color);
  border-radius: 3px;
  position: relative;
  color: var(--color);
}
.candyDoc__inspectorBorderColorLabel {
  position: absolute;
  font-size: x-small;
  color: var(--color);
  padding: 1px;
  border-radius: 2px;
  bottom: 100%;
  left: 0;
}
.candyDoc__inspectorBorderColorInput
{
    position: relative;
}