.candyDoc__inspectorTableHeaderColor {
  position: relative;
  display: flex;
  gap: 15px;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  border: 1px solid var(--color);
  padding: 10px 4px;
  border-radius: 5px;
}
.candyDoc__inspectorTableHeaderLabel {
  position: absolute;
  bottom: 101%;
  left: 0;
  background-color: var(--background);
  color: var(--color);
  font-size: x-small;
}
.candyDoc__inspectorTableHeaderColorInput {
  position: relative;
  display: flex;

  justify-content: flex-start;
  align-items: center;
  border-radius: 5px;
  border: 1px solid var(--color);
}
.candyDoc__inspectorTableHeaderColorLabel {
  position: absolute;
  bottom: 100%;
  left: 0;
  background-color: var(--background);
  color: var(--color);
  font-size: x-small;
}

.candyDoc__inspectorTableOddRowColor {
  position: relative;
  display: flex;
  gap: 15px;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  border: 1px solid var(--color);
  padding: 10px 4px;
  border-radius: 5px;
}
.candyDoc__inspectorTableOddRowColorInput {
  position: relative;
  display: flex;

  justify-content: flex-start;
  align-items: center;
  border-radius: 5px;
  border: 1px solid var(--color);
}
.candyDoc__inspectorTableOddRowColorLabel {
  position: absolute;
  bottom: 100%;
  left: 0;
  background-color: var(--background);
  color: var(--color);
  font-size: x-small;
}

.candyDoc__inspectorTableOddRowLabel {
  position: absolute;
  bottom: 101%;
  left: 0;
  background-color: var(--background);
  color: var(--color);
  font-size: x-small;
}

.candyDoc__inspectorTableEvenRowColor {
  position: relative;
  display: flex;
  gap: 15px;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  border: 1px solid var(--color);
  padding: 10px 4px;
  border-radius: 5px;
}
.candyDoc__inspectorTableEvenRowColorInput {
  position: relative;
  display: flex;

  justify-content: flex-start;
  align-items: center;
  border-radius: 5px;
  border: 1px solid var(--color);
}
.candyDoc__inspectorTableEvenRowColorLabel {
  position: absolute;
  bottom: 100%;
  left: 0;
  background-color: var(--background);
  color: var(--color);
  font-size: x-small;
}

.candyDoc__inspectorTableEvenRowLabel {
  position: absolute;
  bottom: 101%;
  left: 0;
  background-color: var(--background);
  color: var(--color);
  font-size: x-small;
}

.candyDoc__inspectorTableRowNumber {
  position: relative;
  padding: 10px 4px;
  border-radius: 5px;
  border: 1px solid var(--color);
  display: flex;
  gap: 15px;
  width: 100%;
}

.candyDoc__inspectorTableRowNumberLabel {
  position: absolute;
  bottom: 100%;
  left: 0;
  color: var(--color);
  font-size: x-small;
  background-color: var(--background);
}
.candyDoc__inspectorTableRowTextColors,
.candyDoc__inspectorTableRowBorderColors,
.candyDoc__inspectorTableColTextColors,
.candyDoc__inspectorTableBorderColors,
.candyDoc__inspectorTableBackgroundColors,
.candyDoc__inspectorTableColBackgroundColors,
.candyDoc__inspectorTableColBorderColors {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  position: relative;
  border-radius: 5px;
  padding: 5px;
  border: 1px solid var(--color);
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
}

.candyDoc__inspectorTableRowTextColorItem,
.candyDoc__inspectorTableRowBorderColorItem,
.candyDoc__inspectorTableColTextColorItem,
.candyDoc__inspectorTableColBorderColorItem,
.candyDoc__inspectorTableColColorItem,
.candyDoc__inspectorTableRowColorItem {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  padding: 0 5px;
  position: relative;
  width: 100%;
}

.candyDoc__inspectorTableColorItemLabel {
  position: absolute;
  bottom: 98%;
  left: 5px;
  background-color: var(--background);
  border-radius: 5px;
  font-size: x-small;
  color: var(--color);
}
.candyDoc__inspectorTableRowBorderColorItemRemoveIcon,
.candyDoc__inspectorTableRowTextColorItemRemoveIcon,
.candyDoc__inspectorTableColTextColorItemRemoveIcon,
.candyDoc__inspectorTableColBorderColorItemRemoveIcon,
.candyDoc__inspectorTableColColorItemRemoveIcon,
.candyDoc__inspectorTableRowColorItemRemoveIcon,
.candyDoc__inspectorTableColorItemRemoveIcon {
  position: absolute;
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}
.candyDoc__inspectorTableColorItemDragIcon
{
  position: absolute;
  left: 5px;
  top: 50%;
  transform: translateY(-50%);
  cursor: row-resize;
}

.candyDoc__inspectorTableColorItemAddIcon
{
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
}