.candyDoc__text {
  position: relative;
  height: 16px;
  min-width: 16px;
  line-height: 16px;
  cursor: auto;
  width: 100%;
  margin-bottom: var(--candy-doc-p-margin-bottom);
  margin-top: var(--candy-doc-p-margin-top);
  border: none;
  outline: none;
  user-select: all;
  outline: 3px solid rgb(from var(--color) r g b / 0.06);
  display: flex;
  flex-direction: column;
  height: auto;
}

.candyDoc__content {
  position: absolute;
  top: 150px;
  bottom: 150px;
  left: 100px;
  right: 100px;
  outline: 1px dashed var(--color);
}
